mylearning1

printing statements and variables

In [5]:
print('manish')

manish

In [7]:
name='manish'
age=23
gender='male'
details=f'name of the student is {name}, student is a {gender}, and he is {age} old.'
print(details)

name of the student is manish, student is a male, and he is 23 old.

commenting

single line commenting

In [14]:
#python is a programming language

multiline commenting

In [15]:
#"""Strategically engineered curriculum taught by experienced industry 
#instructors. Classes cover a combination of discussion, lab work, and 
#real-world projects. Build a Portfolio. Career Services. Real World 
#Projects. Part-Time Program. Continuing Education."""

concatination

In [13]:
n='manish'
a=str(23)
print(n + ' ' + 'is a student, who is' + ' ' + a +'years old')

manish is a student, who is 23years old

lists

In [17]:
days=['mon','tue','wed','thur','fri','sat','sun']
print(days)

['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']

to print only particular elemetns of list

In [25]:
days=['mon','tue','wed','thur','fri','sat','sun']
print('working days are ' + str (days[0:4]) )

working days are ['mon', 'tue', 'wed', 'thur']

In [30]:
days=['mon','tue','wed','thur','fri','sat','sun']
print('week offs are'+str(days[5:]))

week offs are['sat', 'sun']

adding new element to the list(append/insert)

In [31]:
days=['mon','tue','wed','thur','fri','sat']
days.append('sun')
print(days)

['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']

In [32]:
days=['tue','wed','thur','fri','sat','sun']
days.insert(0,'mon')
print(days)

['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']

In [35]:
work=['mon','tue','wed','thu','fri']
off=['sat','sun']
work.append(off)
print(work)

['mon', 'tue', 'wed', 'thu', 'fri', ['sat', 'sun']]

In [36]:
work=['mon','tue','wed','thu','fri']
off=['sat','sun']
work.extend(off)
print(work)

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [38]:
work=['mon','tue','wed','thu','fri']
off=['sat','sun']
work.remove('mon')
print(work)

['tue', 'wed', 'thu', 'fri']

pop removes last element and pop also gives element it popped from the list

In [46]:
work=['mon','tue','wed','thu','fri','sat','sun']
work.pop()
print(work)
work.pop()
print(work)
removed=work.pop()
print(removed)

['mon', 'tue', 'wed', 'thu', 'fri', 'sat']
['mon', 'tue', 'wed', 'thu', 'fri']
fri

check for item in list

In [48]:
work=['mon','tue','wed','thu','fri','sat','sun']
print('mon'in work)

True

In [49]:
work=['mon','tue','wed','thu','fri','sat','sun']
print('jan'in work)

False

print elements in the list

In [50]:
work=['mon','tue','wed','thu','fri','sat','sun']
for i in work :
    print(i)

mon
tue
wed
thu
fri
sat
sun

print elements along with the index

In [54]:
work=['mon','tue','wed','thu','fri','sat','sun']
for ind,i in enumerate (work) :
    print(ind,i)

0 mon
1 tue
2 wed
3 thu
4 fri
5 sat
6 sun

In [55]:
work=['mon','tue','wed','thu','fri','sat','sun']
for ind,i in enumerate (work,start=6) :
    print(ind,i)

6 mon
7 tue
8 wed
9 thu
10 fri
11 sat
12 sun

conversion of list to string

In [1]:
work=['mon','tue','wed','thu','fri','sat','sun']
work_str='-'.join(work)
print(work_str) 
print(work_str[1])

mon-tue-wed-thu-fri-sat-sun
o

In [59]:
work=['mon','tue','wed','thu','fri','sat','sun']

print(work[1])

tue

In [61]:
work=['mon','tue','wed','thu','fri','sat','sun']
work_str='-'.join(work)
print(work_str[2])

n

conversion of string to list

In [13]:
work="'mon','tue','wed','thu','fri','sat','sun'"
work1=work.split(' , ')
print(work1)

["'mon','tue','wed','thu','fri','sat','sun'"]

update the value in a list

In [77]:
work=['mon','tue','wed','thu','fri','sat','sun']
work1=work

work[2]='jan'
print(work1)

['mon', 'tue', 'jan', 'thu', 'fri', 'sat', 'sun']

tuples (everything same as list but cannot be modified)

In [78]:
work=('mon','tue','wed','thu','fri','sat','sun')
work1=work


print(work1)

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

sets

In [81]:
days={'mon','tue','wed','thu','fri','sat','sun'}
print(days)

{'thu', 'sat', 'tue', 'mon', 'sun', 'wed', 'fri'}

in tuples itt only prints unique items from the list

In [80]:
days={'mon','sat','tue','wed','thu','fri','sat','sun'}
print(days)

{'thu', 'sat', 'tue', 'mon', 'sun', 'wed', 'fri'}

mathematical functions in sets

In [83]:
days={'mon','sat','tue','wed','thu','fri','sat','sun'}
days1={'mon','sat','mar','wed','feb','fri','jan','sun'}
print(days1.difference(days))
print(days1.intersection(days))
print(days1.union(days))

{'jan', 'feb', 'mar'}
{'sat', 'mon', 'sun', 'wed', 'fri'}
{'jan', 'sat', 'thu', 'feb', 'tue', 'mon', 'sun', 'wed', 'fri', 'mar'}

dictionaries

In [14]:
Employee={'Name':'Manish','Salary':'$200,000.00'}
print(Employee)

{'Name': 'Manish', 'Salary': '$200,000.00'}

In [30]:
Employee={'Name':'Manish','Salary':'$200,000.00'}
print(Employee['Name'])
print(Employee['Salary'])
print(Employee.get('Salary'))
print(Employee.get('age','not found'))#get is another method to get element from the dict

Manish
$200,000.00
$200,000.00
not found

adding new element to the dictionery

In [42]:
Employee={'Name':'Manish','Salary':'$200,000.00'}
Employee['Age'] = '23'
print(Employee['Age'])
print(Employee)
Employee['Name'] = 'Man'#updating the value existing
print(Employee)
Employee.update({'Name':'Man','Salary':'$250,000.00','Age':'24'})#another updating the value existing
print(Employee)
del Employee['Name']#deleting an element
print(Employee)
Employee.pop('Age')
print(Employee)
Employee={'Name':'Manish','Salary':'$200,000.00'}
print(Employee.keys())
print(Employee.values())
print(Employee.items())

23
{'Name': 'Manish', 'Salary': '$200,000.00', 'Age': '23'}
{'Name': 'Man', 'Salary': '$200,000.00', 'Age': '23'}
{'Name': 'Man', 'Salary': '$250,000.00', 'Age': '24'}
{'Salary': '$250,000.00', 'Age': '24'}
{'Salary': '$250,000.00'}
dict_keys(['Name', 'Salary'])
dict_values(['Manish', '$200,000.00'])
dict_items([('Name', 'Manish'), ('Salary', '$200,000.00')])

In [45]:
Employee={'Name':'Manish','Salary':'$200,000.00'}
for i in Employee:
    print(i)
for i,j in Employee.items():
    print(i,j)

Name
Salary
Name Manish
Salary $200,000.00